/* index.html styles */

#main_title {
    text-align: center;
    color: red;
}

#recipe_list {
    list-style-type: none;
}

#recipe_list li {
    margin-bottom: 20px;
}

#recipe_list li a{
    color: darkred;
}

/* recipe.html styles */

.recipe_header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.recipe_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipe_description {
    text-align: justify;
    font-size: 18px;
    margin-left: 50px;
}